In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import itertools
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('D:/movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1550,tt0452637,75000000,42285169,Lady in the Water,Paul Giamatti|Jeffrey Wright|Bob Balaban|Sarit...,M. Night Shyamalan,Time is running out for a happy ending.,Apartment building superintendent Cleveland He...,110,Drama|Thriller|Fantasy|Mystery,Legendary Pictures|Warner Bros.|Blinding Edge ...,7/21/2006,5.2,2006
335,tt1193138,25000000,163670000,Up in the Air,George Clooney|Vera Farmiga|Anna Kendrick|Jaso...,Jason Reitman,The story of a man ready to make a connection.,George Clooney plays the dry cynical character...,109,Drama|Romance,Paramount Pictures,9/5/2009,6.6,2009
985,tt1637725,50000000,549368315,Ted,Mark Wahlberg|Mila Kunis|Seth MacFarlane|Joel ...,Seth MacFarlane,Ted is coming.,"John Bennett, a man whose childhood wish of br...",106,Comedy|Fantasy,Universal Pictures|Media Rights Capital|Fuzzy ...,6/29/2012,6.4,2012
88,tt2404425,11000000,61619773,Woman in Gold,Helen Mirren|Ryan Reynolds|Tatiana Maslany|Kat...,Simon Curtis,Justice is Priceless.,"Maria Altmann, an octogenarian Jewish refugee,...",120,Drama,BBC Films|Origin Pictures,4/10/2015,7.3,2015
692,tt0396707,12000000,7070330,The Secret of Moonacre,Ioan Gruffudd|Dakota Blue Richards|Tim Curry|A...,GÃ¡bor CsupÃ³,A Magical Journey Begins.,When 13 year old Maria Merryweather's father d...,103,Adventure|Fantasy|Drama|Science Fiction|Romance,South Pacific Pictures|Metropolitan Filmexport...,9/6/2008,5.7,2008

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# Calculate profit column
data['profit'] = data.revenue - data.budget

# Split string values with delimiters to lists
# and put them into separate columns 
data['genres_list'] = data.genres.str.split("|")
data['director_list'] = data.director.str.split("|")
data['cast_list'] = data.cast.str.split("|")
data['production_companies_list'] = data.production_companies.str.split("|")

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.release_date = pd.to_datetime(data.release_date)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
answers['1'] = data[data.budget == data.budget.max()].head(1).original_title.item()
print(answers['1'])

Pirates of the Caribbean: On Stranger Tides

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения
data.sort_values(by='budget', ascending=False).head(1).original_title.item()

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [9]:
answers['2'] = data[data.runtime == data.runtime.max()].head(1).original_title.item()
print(answers['2'])

Gods and Generals

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = data[data.runtime == data.runtime.min()].head(1).original_title.item()
print(answers['3'])

Winnie the Pooh

# 4. Какова средняя длительность фильмов?

In [11]:
answers['4'] = round(data.runtime.mean())
print(answers['4'])

110

# 5. Каково медианное значение длительности фильмов?

In [12]:
answers['5'] = round(data.runtime.median())
print(answers['5'])

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data[data.profit == data.profit.max()].head(1).original_title.item()
print(answers['6'])

Avatar

# 7. Какой фильм самый убыточный?

In [14]:
answers['7'] = data[data.profit == data.profit.min()].head(1).original_title.item()
print(answers['7'])

The Lone Ranger

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
answers['8'] = data[data.revenue > data.budget].original_title.count()
print(answers['8'])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
answers['9'] = data[data.release_year == 2008].sort_values(by='revenue').tail(1).original_title.item()
print(answers['9'])

The Dark Knight

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
answers['10'] = data[(data.release_year >= 2012)
                     & (data.release_year <= 2014)].sort_values(by='profit').head(1).original_title.item()
print(answers['10'])

The Lone Ranger

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

genres = pd.Series(sum(data.genres_list,[]))
answers['11'] = genres.value_counts().head(1).index[0]
print(answers['11'])

Drama

ВАРИАНТ 2

In [19]:
genres_df = data.explode('genres_list')
answers['11'] = genres_df.genres_list.value_counts().sort_values(ascending=False).index[0]
print(answers['11'])

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [20]:
genres_s = pd.Series(data[data.profit > 0].genres_list.sum())
answers['12'] = genres_s.value_counts().sort_values(ascending=False).index[0]
print(answers['12'])

Drama

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [21]:
answers['13'] = data.groupby(['director']).revenue.sum().sort_values(ascending=False).index[0]
print(answers['13'])

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [22]:
genres_df = data.explode('genres_list')
action_genre_df = genres_df[genres_df.genres_list == 'Action']
action_genre_directors_df = action_genre_df.explode('director_list')
answers['14'] = action_genre_directors_df.groupby('director_list').genres_list.value_counts().sort_values(ascending=False).index[0][0]
print(answers['14'])

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [23]:
movies2012_df = data.query('release_year == 2012')
actors_df = movies2012_df.explode('cast_list')
answers['15'] = actors_df.groupby('cast_list').revenue.sum().sort_values(ascending=False).index[0]
print(answers['15'])

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [24]:
high_budget_movies_df = data[data.budget > data.budget.mean()]
actors_df = high_budget_movies_df.explode('cast_list')
answers['16'] = actors_df.groupby('cast_list').original_title.count().sort_values(ascending=False).index[0]
print(answers['16'])

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [25]:
cage_movies_df = data[data.cast.str.contains('Nicolas Cage')]
cage_genres_df = cage_movies_df.explode('genres_list')
answers['17'] = cage_genres_df.groupby('genres_list').original_title.count().sort_values(ascending=False).index[0]
print(answers['17'])

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [26]:
pp_movies_df = data[data.production_companies.str.contains('Paramount Pictures')]
answers['18'] = pp_movies_df.sort_values(by='profit').head(1).original_title.item()
print(answers['18'])

K-19: The Widowmaker

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [27]:
answers['19'] = data.groupby(data.release_year).revenue.sum().sort_values(ascending=False).index[0]
print(answers['19'])

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [28]:
wb_movies_df = data[data.production_companies.str.contains('Warner Bros')]
answers['20'] = wb_movies_df.groupby(data.release_year).revenue.sum().sort_values(ascending=False).index[0]
print(answers['20'])

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [29]:
answers['21'] = data.release_date.dt.month_name().value_counts().sort_values(ascending=False).index[0]
print(answers['21'])

September

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [30]:
answers['22'] = data[(data.release_date.dt.month > 5) & (data.release_date.dt.month < 9)].original_title.count()
print(answers['22'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [31]:
winter_movies_df = data[(data.release_date.dt.month == 12) | (data.release_date.dt.month < 3)]
answers['23'] = winter_movies_df.groupby(data.director).original_title.count().sort_values(ascending=False).index[0]
print(answers['23'])

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [32]:
data['name_length'] = data.original_title.apply(lambda x: len(x))
production_companies_df = data.explode('production_companies_list')
answers['24'] = production_companies_df.groupby('production_companies_list').name_length.mean().sort_values(ascending=False).index[0]
print(answers['24'])

Four By Two Productions

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [33]:
data['overview_length'] = data.overview.apply(lambda x: len(x))
production_companies_df = data.explode('production_companies_list')
answers['25'] = production_companies_df.groupby('production_companies_list').overview_length.mean().sort_values(ascending=False).index[0]
print(answers['25'])

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [34]:
one_percent_of_best_df = data.sort_values(by='vote_average').tail(int(data.original_title.count()/100)).original_title
answers['26'] = one_percent_of_best_df.tolist()
print(answers['26'])

['The Theory of Everything', 'The Lord of the Rings: The Two Towers', 'There Will Be Blood', 'Mr. Nobody', '12 Years a Slave', 'The Pianist', 'Gone Girl', 'Memento', 'Guardians of the Galaxy', 'Inception', 'The Wolf of Wall Street', 'The Grand Budapest Hotel', 'The Lord of the Rings: The Return of the King', 'Room', 'Interstellar', 'Inside Out', 'The Imitation Game', 'The Dark Knight']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [35]:
data['pairs'] = data.cast_list.apply(lambda x: list(itertools.combinations(x,2)))
pairs_df = data.explode('pairs')
pairs_cast_df = pairs_df.groupby('pairs').original_title.count().sort_values(ascending=False)
answers['27'] = pairs_cast_df[pairs_cast_df > pairs_cast_df.unique().mean()].index.tolist()
print(answers['27'])

[('Daniel Radcliffe', 'Emma Watson'), ('Daniel Radcliffe', 'Rupert Grint'), ('Rupert Grint', 'Emma Watson'), ('Ben Stiller', 'Owen Wilson'), ('Johnny Depp', 'Helena Bonham Carter'), ('Hugh Jackman', 'Ian McKellen'), ('Kristen Stewart', 'Taylor Lautner'), ('Kristen Stewart', 'Robert Pattinson'), ('Robert Pattinson', 'Taylor Lautner'), ('Adam Sandler', 'Kevin James')]

# Submission

In [36]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['The Theory of Everything',
  'The Lord of the Rings: The Two Towers',
  'There Will Be Blood',
  'Mr. Nobody',
  '12 Years a Slave',
  'The Pianist',
  'Gone Girl',
  'Memento',
  'Guardians of the Galaxy',
  'Inception',
  'The Wolf of Wall Street',
  'The Grand Budapest Hotel',
  'The Lord of the Rings: The Return of the King',
  'Room',
  'Interstellar',
  'Inside Out',
  'The Imitation Game',
  'The Dark Knight'],
 '27': [('Daniel Radcliffe', 'Emma Watson'),
  ('Daniel Radcliffe', 'Rupert Grint'),
  ('Rupert Grint', 'Emma Watson'),
  ('Ben Stiller', 'Owen Wilson'),
  ('Johnny Depp', 'Helena Bonham Carter'),
  ('Hugh Jackman', 'Ian McKellen'),
  ('Kristen Stewart', 'Taylor Lautner'),
  ('Kristen Stewart', 'Robert Pattinson'),
  ('Robert Pattinson', 'Taylor Lautner'),
  ('Adam Sandler', 'Kevin James')]}

In [37]:
# и убедиться что ни чего не пропустил)
len(answers)

27